.signup-container, .signupcopy-container {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.signup-box, .signupcopy-box {
    flex-basis: 40%;
    text-align: center;
    background-color: aliceblue;
}

h1 {
    margin: 30px 0;
}

.signup-container label {
    display: block;
}

.signupcopy-container label {
    display: block;
}

input {
    margin-bottom: 10px;
    height: 25px;
}

button {
    margin-bottom: 30px;
    height: 25px;
    width: 28%;
}